-- CreateTable
CREATE TABLE `User` (
    `id` VARCHAR(191) NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `email` VARCHAR(191) NOT NULL,
    `password` VARCHAR(191) NOT NULL,
    `role` ENUM('warga', 'pemerintah_desa', 'lembaga_adat', 'nakes_posyandu', 'guru_fasilitator', 'admin_super') NOT NULL,
    `desaId` VARCHAR(191) NOT NULL,
    `wargaId` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `User_email_key`(`email`),
    UNIQUE INDEX `User_wargaId_key`(`wargaId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Desa` (
    `id` VARCHAR(191) NOT NULL,
    `nama` VARCHAR(191) NOT NULL,
    `kecamatan` VARCHAR(191) NOT NULL,
    `kabupaten` VARCHAR(191) NOT NULL,
    `provinsi` VARCHAR(191) NOT NULL,
    `luasWilayah` DOUBLE NULL,
    `sejarah` TEXT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `RwRt` (
    `id` VARCHAR(191) NOT NULL,
    `desaId` VARCHAR(191) NOT NULL,
    `rw` VARCHAR(191) NOT NULL,
    `rt` VARCHAR(191) NOT NULL,
    `jumlahWarga` INTEGER NOT NULL DEFAULT 0,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Warga` (
    `id` VARCHAR(191) NOT NULL,
    `desaId` VARCHAR(191) NOT NULL,
    `rwRtId` VARCHAR(191) NOT NULL,
    `nik` VARCHAR(191) NOT NULL,
    `nama` VARCHAR(191) NOT NULL,
    `tempatLahir` VARCHAR(191) NOT NULL,
    `tanggalLahir` DATETIME(3) NOT NULL,
    `jenisKelamin` ENUM('L', 'P') NOT NULL,
    `alamat` TEXT NOT NULL,
    `noHp` VARCHAR(191) NULL,
    `foto` VARCHAR(191) NULL,
    `status` ENUM('Aktif', 'Review', 'Baru') NOT NULL DEFAULT 'Baru',
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `Warga_nik_key`(`nik`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Kelas` (
    `id` VARCHAR(191) NOT NULL,
    `desaId` VARCHAR(191) NOT NULL,
    `modul` ENUM('e_learning', 'platform_pembelajaran', 'pusat_literasi', 'pelatihan_guru', 'kelas_virtual') NOT NULL,
    `nama` VARCHAR(191) NOT NULL,
    `batch` VARCHAR(191) NOT NULL,
    `waktu` VARCHAR(191) NOT NULL,
    `fasilitatorId` VARCHAR(191) NULL,
    `status` ENUM('Aktif', 'Selesai', 'Draft') NOT NULL DEFAULT 'Aktif',
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Materi` (
    `id` VARCHAR(191) NOT NULL,
    `kelasId` VARCHAR(191) NOT NULL,
    `judul` VARCHAR(191) NOT NULL,
    `tipe` ENUM('video', 'pdf', 'kuis') NOT NULL,
    `url` VARCHAR(191) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `PesertaKelas` (
    `id` VARCHAR(191) NOT NULL,
    `kelasId` VARCHAR(191) NOT NULL,
    `wargaId` VARCHAR(191) NOT NULL,
    `status` ENUM('Aktif', 'Review', 'Baru') NOT NULL DEFAULT 'Baru',
    `nilai` DOUBLE NULL,
    `sertifikat` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Tugas` (
    `id` VARCHAR(191) NOT NULL,
    `kelasId` VARCHAR(191) NOT NULL,
    `judul` VARCHAR(191) NOT NULL,
    `deskripsi` TEXT NOT NULL,
    `deadline` DATETIME(3) NOT NULL,
    `statusReview` VARCHAR(191) NOT NULL DEFAULT 'pending',
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `RekamMedis` (
    `id` VARCHAR(191) NOT NULL,
    `wargaId` VARCHAR(191) NOT NULL,
    `tanggal` DATETIME(3) NOT NULL,
    `diagnosis` VARCHAR(191) NOT NULL,
    `nakes` VARCHAR(191) NOT NULL,
    `catatan` TEXT NULL,
    `alergi` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Telemedicine` (
    `id` VARCHAR(191) NOT NULL,
    `wargaId` VARCHAR(191) NOT NULL,
    `waktu` DATETIME(3) NOT NULL,
    `status` ENUM('Antrian', 'Aktif', 'Selesai', 'Rujukan') NOT NULL DEFAULT 'Antrian',
    `nakesId` VARCHAR(191) NULL,
    `catatanKonsultasi` TEXT NULL,
    `suratRujukan` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `MonitoringKesehatan` (
    `id` VARCHAR(191) NOT NULL,
    `wargaId` VARCHAR(191) NOT NULL,
    `tanggal` DATETIME(3) NOT NULL,
    `beratBadan` DOUBLE NULL,
    `tinggiBadan` DOUBLE NULL,
    `tensiSistolik` INTEGER NULL,
    `tensiDiastolik` INTEGER NULL,
    `suhu` DOUBLE NULL,
    `alert` BOOLEAN NOT NULL DEFAULT false,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Posyandu` (
    `id` VARCHAR(191) NOT NULL,
    `desaId` VARCHAR(191) NOT NULL,
    `tanggal` DATETIME(3) NOT NULL,
    `lokasi` VARCHAR(191) NOT NULL,
    `jumlahBalita` INTEGER NOT NULL DEFAULT 0,
    `jumlahImunisasi` INTEGER NOT NULL DEFAULT 0,
    `catatan` TEXT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Stunting` (
    `id` VARCHAR(191) NOT NULL,
    `wargaId` VARCHAR(191) NOT NULL,
    `tanggal` DATETIME(3) NOT NULL,
    `bb` DOUBLE NOT NULL,
    `tb` DOUBLE NOT NULL,
    `umurBulan` INTEGER NOT NULL,
    `zScore` DOUBLE NOT NULL,
    `kategori` ENUM('Normal', 'RisikoSedang', 'RisikoTinggi') NOT NULL DEFAULT 'Normal',
    `rekomendasi` TEXT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Pengurus` (
    `id` VARCHAR(191) NOT NULL,
    `desaId` VARCHAR(191) NOT NULL,
    `nama` VARCHAR(191) NOT NULL,
    `jabatan` VARCHAR(191) NOT NULL,
    `bidang` VARCHAR(191) NOT NULL,
    `periode` VARCHAR(191) NOT NULL,
    `dokumen` VARCHAR(191) NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'Aktif',
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ArsipAdat` (
    `id` VARCHAR(191) NOT NULL,
    `desaId` VARCHAR(191) NOT NULL,
    `judul` VARCHAR(191) NOT NULL,
    `kategori` VARCHAR(191) NOT NULL,
    `tipe` ENUM('dokumen', 'foto', 'video') NOT NULL,
    `url` VARCHAR(191) NOT NULL,
    `tahun` INTEGER NULL,
    `narasumber` VARCHAR(191) NULL,
    `lokasi` VARCHAR(191) NULL,
    `statusReview` VARCHAR(191) NOT NULL DEFAULT 'Review',
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Musyawarah` (
    `id` VARCHAR(191) NOT NULL,
    `desaId` VARCHAR(191) NOT NULL,
    `judul` VARCHAR(191) NOT NULL,
    `tanggal` DATETIME(3) NOT NULL,
    `keputusan` TEXT NULL,
    `risalahUrl` VARCHAR(191) NULL,
    `statusSah` BOOLEAN NOT NULL DEFAULT false,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `WilayahAdat` (
    `id` VARCHAR(191) NOT NULL,
    `desaId` VARCHAR(191) NOT NULL,
    `namaLayer` VARCHAR(191) NOT NULL,
    `koordinat` JSON NOT NULL,
    `validasi` BOOLEAN NOT NULL DEFAULT false,
    `sengketa` BOOLEAN NOT NULL DEFAULT false,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `HukumAdat` (
    `id` VARCHAR(191) NOT NULL,
    `desaId` VARCHAR(191) NOT NULL,
    `judul` VARCHAR(191) NOT NULL,
    `tipe` ENUM('Aturan', 'Kasus', 'Putusan') NOT NULL,
    `deskripsi` TEXT NOT NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'Aktif',
    `tanggalSidang` DATETIME(3) NULL,
    `putusan` TEXT NULL,
    `publik` BOOLEAN NOT NULL DEFAULT false,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `AuditTrail` (
    `id` VARCHAR(191) NOT NULL,
    `userId` VARCHAR(191) NOT NULL,
    `modul` VARCHAR(191) NOT NULL,
    `aksi` VARCHAR(191) NOT NULL,
    `detail` TEXT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Notifikasi` (
    `id` VARCHAR(191) NOT NULL,
    `userId` VARCHAR(191) NOT NULL,
    `judul` VARCHAR(191) NOT NULL,
    `pesan` TEXT NOT NULL,
    `tipe` VARCHAR(191) NOT NULL,
    `sudahDibaca` BOOLEAN NOT NULL DEFAULT false,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Laporan` (
    `id` VARCHAR(191) NOT NULL,
    `desaId` VARCHAR(191) NOT NULL,
    `modul` VARCHAR(191) NOT NULL,
    `periode` VARCHAR(191) NOT NULL,
    `fileUrl` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Forum` (
    `id` VARCHAR(191) NOT NULL,
    `kelasId` VARCHAR(191) NOT NULL,
    `judul` VARCHAR(191) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Diskusi` (
    `id` VARCHAR(191) NOT NULL,
    `forumId` VARCHAR(191) NOT NULL,
    `userId` VARCHAR(191) NOT NULL,
    `pesan` TEXT NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ShiftNakes` (
    `id` VARCHAR(191) NOT NULL,
    `desaId` VARCHAR(191) NOT NULL,
    `namaNakes` VARCHAR(191) NOT NULL,
    `hari` VARCHAR(191) NOT NULL,
    `jamMulai` VARCHAR(191) NOT NULL,
    `jamSelesai` VARCHAR(191) NOT NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'Aktif',
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `User` ADD CONSTRAINT `User_desaId_fkey` FOREIGN KEY (`desaId`) REFERENCES `Desa`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `User` ADD CONSTRAINT `User_wargaId_fkey` FOREIGN KEY (`wargaId`) REFERENCES `Warga`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `RwRt` ADD CONSTRAINT `RwRt_desaId_fkey` FOREIGN KEY (`desaId`) REFERENCES `Desa`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Warga` ADD CONSTRAINT `Warga_desaId_fkey` FOREIGN KEY (`desaId`) REFERENCES `Desa`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Warga` ADD CONSTRAINT `Warga_rwRtId_fkey` FOREIGN KEY (`rwRtId`) REFERENCES `RwRt`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Materi` ADD CONSTRAINT `Materi_kelasId_fkey` FOREIGN KEY (`kelasId`) REFERENCES `Kelas`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `PesertaKelas` ADD CONSTRAINT `PesertaKelas_kelasId_fkey` FOREIGN KEY (`kelasId`) REFERENCES `Kelas`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `PesertaKelas` ADD CONSTRAINT `PesertaKelas_wargaId_fkey` FOREIGN KEY (`wargaId`) REFERENCES `Warga`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Tugas` ADD CONSTRAINT `Tugas_kelasId_fkey` FOREIGN KEY (`kelasId`) REFERENCES `Kelas`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `RekamMedis` ADD CONSTRAINT `RekamMedis_wargaId_fkey` FOREIGN KEY (`wargaId`) REFERENCES `Warga`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Telemedicine` ADD CONSTRAINT `Telemedicine_wargaId_fkey` FOREIGN KEY (`wargaId`) REFERENCES `Warga`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `MonitoringKesehatan` ADD CONSTRAINT `MonitoringKesehatan_wargaId_fkey` FOREIGN KEY (`wargaId`) REFERENCES `Warga`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Stunting` ADD CONSTRAINT `Stunting_wargaId_fkey` FOREIGN KEY (`wargaId`) REFERENCES `Warga`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Forum` ADD CONSTRAINT `Forum_kelasId_fkey` FOREIGN KEY (`kelasId`) REFERENCES `Kelas`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Diskusi` ADD CONSTRAINT `Diskusi_forumId_fkey` FOREIGN KEY (`forumId`) REFERENCES `Forum`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

